We are going to learn how to drop column by data types

- use `select_dtypes()` to filter column by data type
- use `exclude = ` to remove data type which we consider to remove from a DataFrame

In [1]:
# import libraries

import pandas as pd

In [2]:
# create a dictionary for list of data for multiple data types

got7_dict = {
    'name': ['Mark', 'Jackson', 'JB', 'BamBam', 'Jinyoung', 'Yugyeom', 'Youngjae'],
    "band": ['GOT7']*7,
    'height': [1.75, 1.74, 1.79, 1.78, 1.78, 1.82, 177],
    'weight': [60, 63, 72, 60, 63, 67, 61]
}

In [3]:
# create a DataFrame

got7 = pd.DataFrame(data = got7_dict)

In [4]:
got7

       name  band  height  weight
0      Mark  GOT7    1.75      60
1   Jackson  GOT7    1.74      63
2        JB  GOT7    1.79      72
3    BamBam  GOT7    1.78      60
4  Jinyoung  GOT7    1.78      63
5   Yugyeom  GOT7    1.82      67
6  Youngjae  GOT7  177.00      61

In [5]:
# check data types 

got7.dtypes

name       object
band       object
height    float64
weight      int64
dtype: object

In [6]:
# exclude some columns

got7 = got7.select_dtypes(exclude = ['float64'])
got7

       name  band  weight
0      Mark  GOT7      60
1   Jackson  GOT7      63
2        JB  GOT7      72
3    BamBam  GOT7      60
4  Jinyoung  GOT7      63
5   Yugyeom  GOT7      67
6  Youngjae  GOT7      61