### How to extract string separated by semicolons into dummy variables
- We will get columns for each unique value with binary values (0 or 1) indicating  presence or absence of that value in the original string

In [1]:
# import a library

import pandas as pd

In [2]:
# create sample data

data = {
    'location': ['T1C1R1-AAA1', 'T1C2R2-AAA2', 'T2C1R7-AAA3', 'T2C1R9-AAA4'],
    'status': ['Fail', 'NTF', 'Fail', 'Fail'],
    'repair_action': [
        'Repalce Fan;Replace Flex;Replace Seal;Replace Pin',
        'Repalce Fan;Replace Seal;Replace Pin;Replace Control Card',
        'Repalce Fan;Replace Flex;Replace Seal',
        'Replace Flex;Replace Seal;Replace Pin',
    ]
}

In [3]:
# create a dataframe using dictionary data

df = pd.DataFrame(data)
df

      location status                                      repair_action
0  T1C1R1-AAA1   Fail  Repalce Fan;Replace Flex;Replace Seal;Replace Pin
1  T1C2R2-AAA2    NTF  Repalce Fan;Replace Seal;Replace Pin;Replace C...
2  T2C1R7-AAA3   Fail              Repalce Fan;Replace Flex;Replace Seal
3  T2C1R9-AAA4   Fail              Replace Flex;Replace Seal;Replace Pin

In [4]:
# split string and create dummy variables and store in a new dataframe

df['repair_action'].str.get_dummies(sep = ';')

   Repalce Fan  Replace Control Card  Replace Flex  Replace Pin  Replace Seal
0            1                     0             1            1             1
1            1                     1             0            1             1
2            1                     0             1            0             1
3            0                     0             1            1             1

In [5]:
dummy_df = df['repair_action'].str.get_dummies(sep = ';')
dummy_df

   Repalce Fan  Replace Control Card  Replace Flex  Replace Pin  Replace Seal
0            1                     0             1            1             1
1            1                     1             0            1             1
2            1                     0             1            0             1
3            0                     0             1            1             1

In [6]:
# concate dataframes - df and dummy_df into a new dataframe

result_df = pd.concat([df, dummy_df], axis = 1) # axis 1 is columns wise
result_df

,location,status,repair_action,Repalce Fan,Replace Control Card,Replace Flex,Replace Pin,Replace Seal
0,T1C1R1-AAA1,Fail,Repalce Fan;Replace Flex;Replace Seal;Replace Pin,1,0,1,1,1
1,T1C2R2-AAA2,NTF,Repalce Fan;Replace Seal;Replace Pin;Replace C...,1,1,0,1,1
2,T2C1R7-AAA3,Fail,Repalce Fan;Replace Flex;Replace Seal,1,0,1,0,1
3,T2C1R9-AAA4,Fail,Replace Flex;Replace Seal;Replace Pin,0,0,1,1,1

In [8]:
df.shape

(4, 3)

In [9]:
dummy_df.shape

(4, 5)

In [11]:
result_df.shape

(4, 8)