In [1]:
# create a function to multiply 2 numberss

# def is a keyword
# multiply_by_numbers() is function name
# a, b are arguments
# c = a * b is function code
# return c is function return

def multiply_by_numbers(a, b): # def is a keyword, 
    
    c = a * b
    return c

In [2]:
multiply_by_numbers(112, 10)

1120

In [3]:
multiply_by_numbers(234, 567)

132678

In [17]:
def add_numbers(x, y):

    z = x + y
    return z

In [18]:
add_numbers(23, 10)

33

In [19]:
add_numbers('23', '10')

'2310'

In [6]:
add_numbers(123456, 123456)

246912

In [1]:
def exponent(y):
    exp = y**2

    print(exp)

In [2]:
exponent(9)

81

In [6]:
def devide(num1, num2):

    if num2 == 0:
        print('cannot devide by zero (0)')
    else:
        ans = num1 / num2
    return ans

In [7]:
devide(4, 0)

cannot devide by zero (0)

UnboundLocalError: cannot access local variable 'ans' where it is not associated with a value

In [8]:
devide(4, 2)

2.0

In [11]:
def substract(x1, x2):

    x = x1 - x2
    return x

In [12]:
substract(10, 40)

-30

In [9]:
def my_function():
    """My docstring"""

    # The stuff

    return None

In [10]:
my_function()

In [13]:
def low_high_range(num, low, high):
    if num <= low:
        return False
    if num >= high:
        return False
    return True

In [14]:
low_high_range(2, 5, 10)

False

In [15]:
low_high_range(7, 5, 10)

True

In [1]:
def even_number(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [2]:
even_number(9)

False

In [3]:
even_number(10)

True

In [4]:
num = 11

# for more readable
if even_number(num):
    print('Number is even')
else:
    print('Number us odd')

Number us odd

In [5]:
num = 11

# for more readable
if even_number(num):
    print('Number is even')
else:
    print('Number us odd')

if not even_number(num):
    print('Number is not even')

Number us odd
Number is not even

In [7]:
def even_numbers_in(nums): # check if any number in a list is even number
    for num in nums:
        if even_number(num):
            return True
        else: 
            pass
    return False

In [8]:
nums = [2, 11, 22]

even_numbers_in(nums)

True

In [9]:
nums = [2, 12, 22]

even_numbers_in(nums)

True

In [10]:
nums = [3, 5, 11]

even_numbers_in(nums)

False