In [14]:
import pandas as pd

In [15]:
got7Height = {
    'member': ['JB', 'Mark', 'Jackson', 'BamBam' ,'Jinyoung', 'Youngjae', 'Yugyeom'],
    'height': [179, 175, 174, 175, 178, 177, 182]
}
got7Height

{'member': ['JB',
  'Mark',
  'Jackson',
  'BamBam',
  'Jinyoung',
  'Youngjae',
  'Yugyeom'],
 'height': [179, 175, 174, 175, 178, 177, 182]}

In [16]:
df = pd.DataFrame.from_dict(got7Height)
df

     member  height
0        JB     179
1      Mark     175
2   Jackson     174
3    BamBam     175
4  Jinyoung     178
5  Youngjae     177
6   Yugyeom     182

In [17]:
df.iloc[:, -1] # iloc: integer location

0    179
1    175
2    174
3    175
4    178
5    177
6    182
Name: height, dtype: int64

In [18]:
df.loc[:, 'height'] # loc : location

0    179
1    175
2    174
3    175
4    178
5    177
6    182
Name: height, dtype: int64

In [21]:
df.iloc[2:]

     member  height
2   Jackson     174
3    BamBam     175
4  Jinyoung     178
5  Youngjae     177
6   Yugyeom     182