In [1]:
# import libraries
import pandas as pd

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/Share_price')

In [3]:
#pip install lxml

Collecting lxml
  Downloading lxml-4.9.2.tar.gz (3.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 2.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
  Preparing metadata (setup.py) ... done
Installing collected packages: lxml
  DEPRECATION: lxml is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for lxml ... done
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
data

[                             Company Price (US$)                Date  \
 0                 Berkshire Hathaway     518'400          April 2022
 1                   Lindt & Sprüngli     122'000          April 2022
 2                    Bastfaserkontor      11'435          March 2022
 3                         Berlin Zoo       9'365           June 2021
 4                  Financière Moncey       8'711      September 2021
 5                 Zuger Kantonalbank       7'200            May 2022
 6                Swiss National Bank       6'371  February 1st, 2022
 7           Reederei Herbert Ekkenga       5'400       February 2022
 8                          NVR, Inc.       5'330       November 2021
 9            Berkeley Group Holdings       4'484          April 2022
 10             Financière des Sucres       4'355          April 2022
 11         Ultra Electronics Holding       4'330          April 2022
 12                          Givaudan       4'017          April 2022
 13              Seaboard Corporation       3'980       November 2021
 14             Wizz Air Holdings plc       3'776          April 2022
 15                            Amazon       3'110          April 2022
 16                     Alphabet Inc.       2'920       November 2021
 17  Société Générale de Surveillance       2'696          April 2022
 18                   Barry Callebaut       2'513         August 2021

                                        Industry Notes                  Country
 0   holding company Most expensive share in the wo...            United States
 1   chocolate manufacture Most expensive European ...              Switzerland
 2   small real estate company Company name: See „b...                  Germany
 3                     zoo 4000 shares in circulation.                  Germany
 4   holding company; specializing in urban public ...                   France
 5                     state bank of the Canton of Zug              Switzerland
 6                                        central bank              Switzerland
 7             tourist ships on the Zwischenahner Meer                  Germany
 8                 home construction, mortgage banking            United States
 9                         house building, real estate           United Kingdom
 10                        sugar refinery, sugar trade                  Belgium
 11                     defense and security equipment           United Kingdom
 12                            flavours and fragrances              Switzerland
 13                 agriculture, shipping, electricity            United States
 14                                   low cost airline  Jersey (United Kingdom)
 15                                    online commerce            United States
 16                             information technology            United States
 17                 inspection, certification, testing              Switzerland
 18                                              cocoa              Switzerland  ,
     Authority control           Authority control.1
 0  National libraries  Germany Israel United States
 1               Other                          FAST]

In [4]:
type(data)

list

In [5]:
data[0].head()

,Company,Price (US$),Date,Industry Notes,Country
0,Berkshire Hathaway,518'400,April 2022,holding company Most expensive share in the wo...,United States
1,Lindt & Sprüngli,122'000,April 2022,chocolate manufacture Most expensive European ...,Switzerland
2,Bastfaserkontor,11'435,March 2022,small real estate company Company name: See „b...,Germany
3,Berlin Zoo,9'365,June 2021,zoo 4000 shares in circulation.,Germany
4,Financière Moncey,8'711,September 2021,holding company; specializing in urban public ...,France

In [6]:
data[1].head()

    Authority control           Authority control.1
0  National libraries  Germany Israel United States
1               Other                          FAST

In [7]:
share_prices = data[0]

In [8]:
# data wrangling
share_prices.shape

(19, 5)

In [9]:
share_prices

,Company,Price (US$),Date,Industry Notes,Country
0,Berkshire Hathaway,518'400,April 2022,holding company Most expensive share in the wo...,United States
1,Lindt & Sprüngli,122'000,April 2022,chocolate manufacture Most expensive European ...,Switzerland
2,Bastfaserkontor,11'435,March 2022,small real estate company Company name: See „b...,Germany
3,Berlin Zoo,9'365,June 2021,zoo 4000 shares in circulation.,Germany
4,Financière Moncey,8'711,September 2021,holding company; specializing in urban public ...,France
5,Zuger Kantonalbank,7'200,May 2022,state bank of the Canton of Zug,Switzerland
6,Swiss National Bank,6'371,"February 1st, 2022",central bank,Switzerland
7,Reederei Herbert Ekkenga,5'400,February 2022,tourist ships on the Zwischenahner Meer,Germany
8,"NVR, Inc.",5'330,November 2021,"home construction, mortgage banking",United States
9,Berkeley Group Holdings,4'484,April 2022,"house building, real estate",United Kingdom
10,Financière des Sucres,4'355,April 2022,"sugar refinery, sugar trade",Belgium
11,Ultra Electronics Holding,4'330,April 2022,defense and security equipment,United Kingdom
12,Givaudan,4'017,April 2022,flavours and fragrances,Switzerland
13,Seaboard Corporation,3'980,November 2021,"agriculture, shipping, electricity",United States
14,Wizz Air Holdings plc,3'776,April 2022,low cost airline,Jersey (United Kingdom)
15,Amazon,3'110,April 2022,online commerce,United States
16,Alphabet Inc.,2'920,November 2021,information technology,United States
17,Société Générale de Surveillance,2'696,April 2022,"inspection, certification, testing",Switzerland
18,Barry Callebaut,2'513,August 2021,cocoa,Switzerland

In [10]:
share_prices.dtypes

Company           object
Price (US$)       object
Date              object
Industry Notes    object
Country           object
dtype: object

In [13]:
# convert data
share_prices['Prices'] = share_prices["Price (US$)"].str.replace("'", "") # replace ' with nothing

In [14]:
share_prices.head()

,Company,Price (US$),Date,Industry Notes,Country,Prices
0,Berkshire Hathaway,518'400,April 2022,holding company Most expensive share in the wo...,United States,518400
1,Lindt & Sprüngli,122'000,April 2022,chocolate manufacture Most expensive European ...,Switzerland,122000
2,Bastfaserkontor,11'435,March 2022,small real estate company Company name: See „b...,Germany,11435
3,Berlin Zoo,9'365,June 2021,zoo 4000 shares in circulation.,Germany,9365
4,Financière Moncey,8'711,September 2021,holding company; specializing in urban public ...,France,8711

In [16]:
share_prices.dtypes

Company           object
Price (US$)       object
Date              object
Industry Notes    object
Country           object
Prices            object
dtype: object

In [17]:
share_prices['Prices'] = pd.to_numeric(share_prices['Prices']) # convert string to integer

In [18]:
share_prices.dtypes

Company           object
Price (US$)       object
Date              object
Industry Notes    object
Country           object
Prices             int64
dtype: object