In [1]:
!python --version

Python 3.11.1

In [2]:
!which python

/Users/pnatzz/.pyenv/versions/3.11.1/bin/python

In Python,
- All varibles are treated as the object
- We can find out the memory address referenced by a variable by using the **id()** function
- We can convert the base-10 number to hexadecimal, by using the **hex()** function
- We can find the reference count by using **sys.getrefcount(varible_name)** <-- it will create an extra reference
- Another way is ise the low level check using C, **ctypes.clong.from_address(address).value** <-- this one does not effect the reference count

In [3]:
import sys
import ctypes

In [4]:
def ref_count(address: int):
    return ctypes.c_long.from_address(address).value

In [5]:
a = 1 # a is not equal to 1 but it is a reference of the object at the memory address (0xaaaaaaaaa)
type(a)

int

In [6]:
print(id(a)) # look at the memory of a

4341669032

In [7]:
print(hex(id(a))) # memory reference in hexadecimal

0x102c89ca8

In [8]:
print(a)

1

now we are passing a the get the reference count <- it's going to point to the same object memory

In [9]:
sys.getrefcount(a)

1000003608

In [10]:
# call a function

ref_count(id(a))

1000003597

In [11]:
ref_count(4339850408)

-504390064772451352

In [12]:
a = 1.0
type(a)

float

In [13]:
a = '1'
type(a)

str

In [14]:
a = {'name': 'Natty'}
type(a)

dict

In [15]:
a = (1, 3, 5)
type(a)

tuple

In [16]:
# conversion

n = '1'
type(n)

str

In [17]:
n

'1'

In [18]:
num = int(n)
type(num)

int

In [19]:
num

1

In [20]:
# tuple 

t = (1, 3, 5)
t

(1, 3, 5)

In [21]:
type(t)

tuple

In [22]:
t2 = ([1, 5],(1, 7))
t2

([1, 5], (1, 7))

In [23]:
type(t2)

tuple

In [24]:
l1 = [1, 3, 5]
l1

[1, 3, 5]

In [25]:
type(l1)

list

In [26]:
l2 = [(1, 2), [2, 4]]
l2

[(1, 2), [2, 4]]

In [27]:
type(l2)

list

In [28]:
dict1 = {'name': 'Natty', 'height': 157, 'weight': 52.2}
dict1

{'name': 'Natty', 'height': 157, 'weight': 52.2}

In [29]:
type(dict1)

dict

In [30]:
dict2 = {'name': ['JB', 'Jackson', 'Mark', 'BamBam', 'Jinyoung', 'Youngjae', 'Yugyeom'], 
'height': [179, 174, 175, 175, 178, 177, 182]}
dict2

{'name': ['JB',
  'Jackson',
  'Mark',
  'BamBam',
  'Jinyoung',
  'Youngjae',
  'Yugyeom'],
 'height': [179, 174, 175, 175, 178, 177, 182]}

In [31]:
type(dict2)

dict

In [32]:
dict2['name'][2]

'Mark'

In [33]:
dict2['height'][2]

175

In [34]:
# set - get unique value

mySet = {1, 3, 5, 2, 1, 5, 7, 3}
mySet

{1, 2, 3, 5, 7}

In [35]:
mySet.add(20)
mySet

{1, 2, 3, 5, 7, 20}

In [36]:
mySet.add(5)
mySet

{1, 2, 3, 5, 7, 20}

In [37]:
# zip - can zip two lists together
myZip = zip(['name', 'height'], ['Jackson', 174])
myZip

In [38]:
myList = list(myZip)
myList

[('name', 'Jackson'), ('height', 174)]

In [39]:
# zip to dictionary
myZip = zip(['name', 'height'], ['Jackson', 174])
myDict = dict(myZip)
myDict

{'name': 'Jackson', 'height': 174}