In [1]:
a = 1
type(a)

int

In [3]:
a = 1.0
type(a)

float

In [4]:
a = '1'
type(a)

str

In [5]:
a = {'name': 'Natty'}
type(a)

dict

In [6]:
a = (1, 3, 5)
type(a)

tuple

In [7]:
# conversion

n = '1'
type(n)

str

In [8]:
n

'1'

In [9]:
num = int(n)
type(num)

int

In [10]:
num

1

In [1]:
# tuple 

t = (1, 3, 5)
t

(1, 3, 5)

In [2]:
type(t)

tuple

In [3]:
t2 = ([1, 5],(1, 7))
t2

([1, 5], (1, 7))

In [4]:
type(t2)

tuple

In [5]:
l1 = [1, 3, 5]
l1

[1, 3, 5]

In [6]:
type(l1)

list

In [7]:
l2 = [(1, 2), [2, 4]]
l2

[(1, 2), [2, 4]]

In [8]:
type(l2)

list

In [9]:
dict1 = {'name': 'Natty', 'height': 157, 'weight': 52.2}
dict1

{'name': 'Natty', 'height': 157, 'weight': 52.2}

In [10]:
type(dict1)

dict

In [18]:
dict2 = {'name': ['JB', 'Jackson', 'Mark', 'BamBam', 'Jinyoung', 'Youngjae', 'Yugyeom'], 
'height': [179, 174, 175, 175, 178, 177, 182]}
dict2

{'name': ['JB',
  'Jackson',
  'Mark',
  'BamBam',
  'Jinyoung',
  'Youngjae',
  'Yugyeom'],
 'height': [179, 174, 175, 175, 178, 177, 182]}

In [19]:
type(dict2)

dict

In [20]:
dict2['name'][2]

'Mark'

In [21]:
dict2['height'][2]

175

In [1]:
# set - get unique value

mySet = {1, 3, 5, 2, 1, 5, 7, 3}
mySet

{1, 2, 3, 5, 7}

In [5]:
# zip - can zip two lists together
myZip = zip(['name', 'height'], ['Jackson', 174])
myZip

In [6]:
myList = list(myZip)
myList

[('name', 'Jackson'), ('height', 174)]

In [8]:
# zip to dictionary
myZip = zip(['name', 'height'], ['Jackson', 174])
myDict = dict(myZip)
myDict

{'name': 'Jackson', 'height': 174}