In [1]:
# import a library

import sqlite3

In [2]:
# create database

conn = sqlite3.connect("people.db") # create a connection to the database file.
columns = [
    "id INTEGER PRIMARY KEY",
    "lname VACHAR UNIQUE",
    "fname VACHAR",
    "timestamp DATETIME"
]

create_table_cmd = f"CREATE TABLE person ({','.join(columns)})"
conn.execute(create_table_cmd)

In [3]:
# manual update data to  database

conn = sqlite3.connect("people.db")

people = [
    "1, 'Mark', 'Tuan', '2023-10-08 05:11:10'",
    "2, 'Jackson', 'Wang', '2023-10-08 05:11:13'",
    "3, 'Michel', 'Jackson', '2023-10-08 05:11:27'",
]

for person_data in people:
    insert_cmd = f"INSERT INTO person VALUES ({person_data})"
    conn.execute(insert_cmd)

conn.commit()

In [4]:
# read data from database

conn = sqlite3.connect("people.db") 
cur = conn.cursor() # create a cursor from the connection. 
cur.execute("SELECT * FROM person") # use the cursor to execute a SQL query expressed as a string

people = cur.fetchall() # get all the records returned by the SQL query and assigns them to the people variable.
for person in people: # iterate over people and print out the data of each person.
    print(person)

(1, 'Mark', 'Tuan', '2023-10-08 05:11:10')
(2, 'Jackson', 'Wang', '2023-10-08 05:11:13')
(3, 'Michel', 'Jackson', '2023-10-08 05:11:27')