In [46]:
# import libraries

import os
import pandas as pd

In [47]:
files_path = "Data/DWJ_download/"
files_path

'Data/DWJ_download/'

In [48]:
combined_df = pd.concat([pd.read_csv(os.path.join(files_path, filename)) for \
                        filename in os.listdir(files_path) if \
                            filename.endswith('.csv')], ignore_index = True)
combined_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1990-02-16,0.000000,0.079861,0.073785,0.077257,0.052820,940636800
1,1990-02-20,0.000000,0.079861,0.074653,0.079861,0.054600,151862400
2,1990-02-21,0.000000,0.078993,0.075521,0.078125,0.053413,70531200
3,1990-02-22,0.000000,0.081597,0.078993,0.078993,0.054007,45216000
4,1990-02-23,0.000000,0.079861,0.078125,0.078559,0.053710,44697600
...,...,...,...,...,...,...,...
355301,2024-02-13,280.410004,283.429993,276.420013,281.149994,281.149994,4956600
355302,2024-02-14,285.000000,289.459991,284.640015,289.149994,289.149994,3850700
355303,2024-02-15,291.339996,292.000000,288.010010,291.940002,291.940002,3986500
355304,2024-02-16,292.000000,292.070007,287.880005,289.720001,289.720001,4159100
355305,2024-02-20,289.500000,290.850006,284.154999,286.390015,286.390015,3360472

In [49]:
combined_df.shape

(355306, 7)

In [50]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355306 entries, 0 to 355305
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       355306 non-null  object
 1   Open       355306 non-null  float64
 2   High       355306 non-null  float64
 3   Low        355306 non-null  float64
 4   Close      355306 non-null  float64
 5   Adj Close  355306 non-null  float64
 6   Volume     355306 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 19.0+ MB

In [51]:
combined_df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,355306.000000,355306.000000,355306.000000,355306.000000,355306.000000,3.553060e+05
mean,45.430173,46.105285,45.179803,45.652425,36.172231,1.933918e+07
std,62.372632,62.828177,61.625461,62.239404,58.598272,8.165658e+07
min,0.000000,0.015625,0.014404,0.015625,0.008620,0.000000e+00
25%,4.062500,5.015625,4.906250,4.968750,1.654928,1.871970e+06
50%,23.551016,23.843750,23.270000,23.561329,13.260249,4.681896e+06
75%,57.560001,58.180000,56.963829,57.570000,42.334503,1.002374e+07
max,555.000000,558.099976,550.130005,555.150024,551.089966,7.421641e+09