In [12]:
# import libraries

import pandas as pd

In [13]:
url = 'https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average'

pd.read_html(url)

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 139 years ago[1] May 26, 18...
 2                              S&P Dow Jones Indices
 3  .mw-parser-output .plainlist ol,.mw-parser-out...
 4                                  ^DJI$INDU.DJIDJIA
 5                                                 30
 6                                          Large cap
 7       US$12.0 trillion (as of December 29, 2023[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange Symbol                        Industry  \
 0                         3M     NYSE    MMM                    Conglomerate
 1           American Express     NYSE    AXP              Financial services
 2                      Amgen   NASDAQ   AMGN               Biopharmaceutical
 3                      Apple   NASDAQ   AAPL          Information technology
 4                     Boeing     NYSE     BA           Aerospace and defense
 5                Caterpillar     NYSE    CAT         Construction and mining
 6                    Chevron     NYSE    CVX              Petroleum industry
 7                      Cisco   NASDAQ   CSCO          Information technology
 8                  Coca-Cola     NYSE     KO                  Drink industry
 9                     Disney     NYSE    DIS  Broadcasting and entertainment
 10                       Dow     NYSE    DOW               Chemical industry
 11             Goldman Sachs     NYSE     GS              Financial services
 12                Home Depot     NYSE     HD                Home Improvement
 13                 Honeywell   NASDAQ    HON                    Conglomerate
 14                       IBM     NYSE    IBM          Information technology
 15                     Intel   NASDAQ   INTC          Semiconductor industry
 16         Johnson & Johnson     NYSE    JNJ         Pharmaceutical industry
 17            JPMorgan Chase     NYSE    JPM              Financial services
 18                McDonald's     NYSE    MCD                   Food industry
 19                     Merck     NYSE    MRK         Pharmaceutical industry
 20                 Microsoft   NASDAQ   MSFT          Information technology
 21                      Nike     NYSE    NKE               Clothing industry
 22          Procter & Gamble     NYSE     PG      Fast-moving consumer goods
 23                Salesforce     NYSE    CRM          Information technology
 24                 Travelers     NYSE    TRV                       Insurance
 25        UnitedHealth Group     NYSE    UNH             Managed health care
 26                   Verizon     NYSE     VZ     Telecommunications industry
 27                      Visa     NYSE      V              Financial services
 28  Walgreens Boots Alliance   NASDAQ    WBA                       Retailing
 29                   Walmart     NYSE    WMT                       Retailing

     Date added                                  Notes Index weighting
 0   1976-08-09  As Minnesota Mining and Manufacturing           2.41%
 1   1982-08-30                                    NaN           3.02%
 2   2020-08-31                                    NaN           5.48%
 3   2015-03-19                                    NaN           2.84%
 4   1987-03-12                                    NaN           3.36%
 5   1991-05-06                                    NaN           4.52%
 6   2008-02-19          Also 1930-07-18 to 1999-11-01           3.50%
 7   2009-06-08                                    NaN           0.96%
 8   1987-03-12          Also 1932-05-26 to 1935-11-20           1.22%
 9   1991-05-06                                    NaN           1.89%
 10  1991-05-06                                    NaN           0.98%
 11  2019-04-02                                    NaN           7.36%
 12  1999-11-01                                    NaN           6.27%
 13  2020-08-31             AlliedSignal and Honeywell           4.17%
 14  1979-06-29          Also 1932-05-26 to 1939-03-04           2.86%
 15  1999-11-01                                    NaN           0.57%
 16  1997-03-17                                    NaN           3.43%
 17  1991-05-06                                    NaN           2.61%
 18  1985-10-30                                    NaN           5.24%
 19  1979-06-29                                    NaN           2.10%
 20  1999-11-01                                    NaN           4.88%
 21  2013-09-20                                    NaN           2.13%
 22  1932-05-26                                    NaN           2.86%
 23  2020-08-31                                    NaN           2.82%
 24  2009-06-08                                    NaN           3.62%
 25  2012-09-24                                    NaN          10.29%
 26  2004-04-08                                    NaN           0.73%
 27  2013-09-20                                    NaN           4.16%
 28  2018-06-26                                    NaN           0.79%
 29  1997-03-17                                    NaN           2.94%  ,
      Year  Closing Value Net Change % Change
 0    1896          40.45      −0.49    −1.20
 1    1897          49.41      +8.96   +22.15
 2    1898          60.52     +11.11   +22.49
 3    1899          66.08      +5.56    +9.19
 4    1900          70.71      +4.63    +7.01
 ..    ...            ...        ...      ...
 123  2019       28538.44   +5210.98   +22.34
 124  2020       30606.48   +2068.04    +7.25
 125  2021       36338.30   +5731.82   +18.73
 126  2022       33147.25  −3,191.05    −8.78
 127  2023       37689.54   +4542.29   +13.70

 [128 rows x 4 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Amgen Apple Boeing Caterpi...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Amgen Apple Boeing Caterpi...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ,
   vteMajor North and South American stock market indices  \
 0                                      United States
 1                                             Canada
 2                                             Mexico
 3                                           Colombia
 4                                             Brazil
 5                                              Chile
 6                                          Argentina
 7                                               Peru

   vteMajor North and South American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index        ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 ..                                                ...
 56                                              Radio
 57                           News Broadcasting (2016)
 58                                         Television
 59                                       Other assets
 60        See also: 21st Century Fox News Corporation

                                        vteNews Corp.1 Unnamed: 2
 0                     Sister company: Fox Corporation        NaN
 1   vteDow Jones & CompanyNational consumer produc...        NaN
 2                              vteDow Jones & Company        NaN
 3   Barron's Financial News Investor's Business Da...        NaN
 4                Factiva S&P Dow Jones Indices (2.6%)        NaN
 ..                                                ...        ...
 56  News Broadcasting (2016) TalkRadio Talksport T...        NaN
 57    TalkRadio Talksport Times Radio Virgin Radio UK        NaN
 58                                      TalkTV (2022)        NaN
 59  Move Realtor.com New York Post News America Ma...        NaN
 60        See also: 21st Century Fox News Corporation        NaN

 [61 rows x 3 columns],
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News Investor's Business Da...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                              vteSky News Australia
 13                                           Channels
 14                                             Active
 15                                            Defunct
 16                                        Programming
 17                  vteSky News Australia programming
 18                                            Current
 19                                            Daytime
 20                                          Primetime
 21                                             Former
 22                                            Daytime
 23                                          Primetime
 24                                          vteFoxtel
 25                                           Channels
 26                                         Fox Sports
 27                                     Joint ventures
 28                                   Defunct channels
 29                                          Streaming
 30                                          Magazines
 31                                              Other
 32                                    Former holdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian Daily Telegraph (S...
 1   The Australian Daily Telegraph (Sydney) Sunday...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  vteSky News AustraliaChannelsActive Sky News L...
 12                              vteSky News Australia
 13  Active Sky News Live Sky News Extra Sky News W...
 14  Sky News Live Sky News Extra Sky News Weather ...
 15  Sky News Business Channel Sky News Election Ch...
 16  vteSky News Australia programmingCurrentDaytim...
 17                  vteSky News Australia programming
 18  Daytime Agenda First Edition Weekend Outsiders...
 19             Agenda First Edition Weekend Outsiders
 20           Credlin Paul Murray Live The Bolt Report
 21  Daytime Keneally and Cameron PVO NewsDay Pyne ...
 22  Keneally and Cameron PVO NewsDay Pyne & Marles...
 23  Credlin Keneally Friday Live Hinch Live Hadley...
 24                                          vteFoxtel
 25  Foxtel One Arena Lifestyle Fox8 Comedy Crime C...
 26  Fox Cricket Fox Footy Fox League Fox Netball F...
 27                 NickMusic (35%) Main Event (66.6%)
 28  Bio. Channel [V] Fox Footy Channel Fox Funny F...
 29  Streamotion Binge Flash Kayo Sports WatchAFL W...
 30            Big League GQ Australia Vogue Australia
 31  ARN Media (15%) Brisbane Broncos (69%) Busines...
 32  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian Daily Telegraph (Sydney) Sunday...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...
 2                      South-West News Southern Star
 3                        Leader Community Newspapers  ,
                 vteSky News Australia  \
 0                            Channels
 1                              Active
 2                             Defunct
 3                         Programming
 4   vteSky News Australia programming
 5                             Current
 6                             Daytime
 7                           Primetime
 8                              Former
 9                             Daytime
 10                          Primetime

                               vteSky News Australia.1
 0   Active Sky News Live Sky News Extra Sky News W...
 1   Sky News Live Sky News Extra Sky News Weather ...
 2   Sky News Business Channel Sky News Election Ch...
 3   vteSky News Australia programmingCurrentDaytim...
 4                   vteSky News Australia programming
 5   Daytime Agenda First Edition Weekend Outsiders...
 6              Agenda First Edition Weekend Outsiders
 7            Credlin Paul Murray Live The Bolt Report
 8   Daytime Keneally and Cameron PVO NewsDay Pyne ...
 9   Keneally and Cameron PVO NewsDay Pyne & Marles...
 10  Credlin Keneally Friday Live Hinch Live Hadley...  ,
          0                                                  1
 0   Active  Sky News Live Sky News Extra Sky News Weather ...
 1  Defunct  Sky News Business Channel Sky News Election Ch...,
   vteSky News Australia programming  \
 0                           Current
 1                           Daytime
 2                         Primetime
 3                            Former
 4                           Daytime
 5                         Primetime

                  vteSky News Australia programming.1
 0  Daytime Agenda First Edition Weekend Outsiders...
 1             Agenda First Edition Weekend Outsiders
 2           Credlin Paul Murray Live The Bolt Report
 3  Daytime Keneally and Cameron PVO NewsDay Pyne ...
 4  Keneally and Cameron PVO NewsDay Pyne & Marles...
 5  Credlin Keneally Friday Live Hinch Live Hadley...  ,
            0                                         1
 0    Daytime    Agenda First Edition Weekend Outsiders

In [14]:
pd.read_html(url)[0]

,0,1
0,Historical logarithmic graph of the DJIA from ...,Historical logarithmic graph of the DJIA from ...
1,Foundation,"February 16, 1885; 139 years ago[1] May 26, 18..."
2,Operator,S&P Dow Jones Indices
3,Exchanges,".mw-parser-output .plainlist ol,.mw-parser-out..."
4,Trading symbol,^DJI$INDU.DJIDJIA
5,Constituents,30
6,Type,Large cap
7,Market cap,"US$12.0 trillion (as of December 29, 2023[3]"
8,Weighting method,Price-weighted index
9,Website,us.spindices.com/indices/equity/dow-jones-indu...

In [16]:
pd.read_html(url)[1]

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.41%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.02%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,5.48%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.84%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.36%
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,4.52%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,3.50%
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.96%
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.22%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.89%
10,Dow,NYSE,DOW,Chemical industry,1991-05-06,NaN,0.98%
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02,NaN,7.36%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.27%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,4.17%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.86%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,0.57%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.43%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.61%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,5.24%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,2.10%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,4.88%
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NaN,2.13%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.86%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,2.82%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.62%
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,10.29%
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.73%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.16%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.79%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.94%

In [17]:
pd.read_html(url)[2]

     Year  Closing Value Net Change % Change
0    1896          40.45      −0.49    −1.20
1    1897          49.41      +8.96   +22.15
2    1898          60.52     +11.11   +22.49
3    1899          66.08      +5.56    +9.19
4    1900          70.71      +4.63    +7.01
..    ...            ...        ...      ...
123  2019       28538.44   +5210.98   +22.34
124  2020       30606.48   +2068.04    +7.25
125  2021       36338.30   +5731.82   +18.73
126  2022       33147.25  −3,191.05    −8.78
127  2023       37689.54   +4542.29   +13.70

[128 rows x 4 columns]

In [18]:
pd.read_html(url)[4]

,vteMajor North and South American stock market indices,vteMajor North and South American stock market indices.1
0,United States,Dow Jones Industrial Average Dow Jones Transpo...
1,Canada,S&P/TSX 60 S&P/TSX Composite Index
2,Mexico,Indice de Precios y Cotizaciones
3,Colombia,COLCAP Indice General de la Bolsa de Valores d...
4,Brazil,Índice Bovespa
5,Chile,Índice de Precio Selectivo de Acciones
6,Argentina,MERVAL
7,Peru,S&P/BVL Peru General Index

In [19]:
pd.read_html(url)[-1]

  Authority control databases                 Authority control databases.1
0               International                                          FAST
1                    National  France BnF data Germany Israel United States

In [20]:
stock_symbol_list = pd.read_html(url)[1]
stock_symbol_list.head()

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.41%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.02%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,5.48%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.84%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.36%

In [21]:
stock_symbol_list.shape

(30, 7)

In [22]:
stock_symbol_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     object
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB

In [23]:
stock_symbol_list.Symbol

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

In [24]:
stock_symbol_list['Symbol'].values

array(['MMM', 'AXP', 'AMGN', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO',
       'DIS', 'DOW', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM',
       'MCD', 'MRK', 'MSFT', 'NKE', 'PG', 'CRM', 'TRV', 'UNH', 'VZ', 'V',
       'WBA', 'WMT'], dtype=object)

In [25]:
import yfinance as yf

In [26]:
for symbol in stock_symbol_list['Symbol'].values:

    df = yf.download(symbol, progress = False) # download and save each symbol in the list
    df.to_csv(f'Data/DWJ_download/{symbol}.csv') # save to csv files