In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/SET50_download_r2/ADVANC.BK.csv')
df.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2000-01-04  44.599998  46.000000  43.000000  43.400002  11.032709  1039000
1  2000-01-05  38.200001  41.000000  38.000000  40.599998  10.320922  2624000
2  2000-01-06  41.000000  41.200001  38.400002  38.599998   9.812499  1341000
3  2000-01-07  38.599998  39.799999  38.000000  38.599998   9.812499  1164000
4  2000-01-10  39.799999  40.799999  39.599998  40.000000  10.168396   761000

In [3]:
df.shape

(5994, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5994 entries, 0 to 5993
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5994 non-null   object
 1   Open       5994 non-null   float64
 2   High       5994 non-null   float64
 3   Low        5994 non-null   float64
 4   Close      5994 non-null   float64
 5   Adj Close  5994 non-null   float64
 6   Volume     5994 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 327.9+ KB

In [5]:
df2 = pd.read_csv('Data/SET50_download_r2/PTT.BK.csv')
df2.head()

         Date   Open   High   Low  Close  Adj Close      Volume
0  2001-12-06  3.800  3.825  3.55  3.575   1.400592  1736808000
1  2001-12-07  3.625  3.625  3.55  3.550   1.390798   412533000
2  2001-12-10  3.550  3.550  3.55  3.550   1.390798           0
3  2001-12-11  3.550  3.550  3.40  3.400   1.332031   409158000
4  2001-12-12  3.425  3.525  3.40  3.500   1.371209   307291000

In [6]:
df2.shape

(5492, 7)

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5492 entries, 0 to 5491
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5492 non-null   object
 1   Open       5492 non-null   float64
 2   High       5492 non-null   float64
 3   Low        5492 non-null   float64
 4   Close      5492 non-null   float64
 5   Adj Close  5492 non-null   float64
 6   Volume     5492 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 300.5+ KB