In [1]:
tuple_a = ([1, 3, 5, 7, 9], ['BamBam', "Mark", "Jackson"])
tuple_a

([1, 3, 5, 7, 9], ['BamBam', 'Mark', 'Jackson'])

In [2]:
tuple_a[1]

['BamBam', 'Mark', 'Jackson']

In [3]:
tuple_a[1][2]

'Jackson'

In [4]:
tuple_a[1][2] = "JB"
tuple_a

([1, 3, 5, 7, 9], ['BamBam', 'Mark', 'JB'])

In [5]:
tuple_a

([1, 3, 5, 7, 9], ['BamBam', 'Mark', 'JB'])

In [6]:
# slicing

tuple_a[-1]

['BamBam', 'Mark', 'JB']

In [7]:
tuple_a[-1][:1]

['BamBam']

In [8]:
tuple_a[-1][:2]

['BamBam', 'Mark']

In [10]:
tuple_a[0][:1]

[1]

In [11]:
tuple_a[0][:-1:2]

[1, 5]

In [12]:
tuple_a[1] = 0

TypeError: 'tuple' object does not support item assignment

In [ ]:
# we cannot reassign data to a tuple but we can reassign data to list in that tuple