In [2]:
# import libraries

import pandas as pd
import yfinance as yf
from datetime import date

In [5]:
start = "2023-01-01"
end = date.today()

In [6]:
arm_df = yf.download("ARM", start = start, end = end, progress = False) # raw data
arm_df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2023-09-14  56.099998  66.279999  55.540001  63.590000  63.590000  130534500
2023-09-15  68.629997  69.000000  60.750000  60.750000  60.750000   74568900
2023-09-18  57.950001  58.741001  55.020000  58.000000  58.000000   34571900
2023-09-19  56.250000  56.779999  53.880001  55.169998  55.169998   18308600
2023-09-20  55.169998  55.400002  51.520000  52.910000  52.910000   16369500

In [7]:
arm_df.shape

(103, 6)

In [8]:
arm_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 103 entries, 2023-09-14 to 2024-02-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       103 non-null    float64
 1   High       103 non-null    float64
 2   Low        103 non-null    float64
 3   Close      103 non-null    float64
 4   Adj Close  103 non-null    float64
 5   Volume     103 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 5.6 KB

In [9]:
arm_df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,103.000000,103.000000,103.000000,103.000000,103.000000,1.030000e+02
mean,62.406049,64.220748,60.764049,62.623301,62.623301,1.027946e+07
std,10.551151,12.396373,10.347883,11.642216,11.642216,1.783577e+07
min,47.220001,49.660000,46.500000,47.869999,47.869999,2.268900e+06
25%,53.225000,54.199999,51.669500,53.045000,53.045000,4.299100e+06
50%,61.509998,63.689999,60.790001,61.759998,61.759998,6.206500e+06
75%,70.755001,72.244999,69.150002,70.702499,70.702499,8.128650e+06
max,105.989998,126.584999,102.089996,115.209999,115.209999,1.305345e+08

In [11]:
arm_df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2023-09-14  56.099998  66.279999  55.540001  63.590000  63.590000  130534500
2023-09-15  68.629997  69.000000  60.750000  60.750000  60.750000   74568900
2023-09-18  57.950001  58.741001  55.020000  58.000000  58.000000   34571900
2023-09-19  56.250000  56.779999  53.880001  55.169998  55.169998   18308600
2023-09-20  55.169998  55.400002  51.520000  52.910000  52.910000   16369500

In [10]:
arm_df.pct_change()

                Open      High       Low     Close  Adj Close    Volume
Date
2023-09-14       NaN       NaN       NaN       NaN        NaN       NaN
2023-09-15  0.223351  0.041038  0.093806 -0.044661  -0.044661 -0.428742
2023-09-18 -0.155617 -0.148681 -0.094321 -0.045267  -0.045267 -0.536376
2023-09-19 -0.029336 -0.033384 -0.020720 -0.048793  -0.048793 -0.470420
2023-09-20 -0.019200 -0.024304 -0.043801 -0.040964  -0.040964 -0.105912
...              ...       ...       ...       ...        ...       ...
2024-02-05  0.012518  0.032384  0.022857  0.031972   0.031972  0.695778
2024-02-06  0.041811  0.015751  0.002793 -0.003958  -0.003958 -0.049407
2024-02-07 -0.025733  0.029954  0.006267  0.055221   0.055221  2.304993
2024-02-08  0.292049  0.628941  0.301038  0.478899   0.478899  3.670729
2024-02-09  0.122656 -0.069242  0.086064  0.011590   0.011590 -0.548976

[103 rows x 6 columns]

In [12]:
-0.044661*100 # percent change from 14-Sep to 15-Sep is ~ 4%

-4.4661

In [13]:
arm_df.pct_change().describe()

             Open        High         Low       Close   Adj Close      Volume
count  102.000000  102.000000  102.000000  102.000000  102.000000  102.000000
mean     0.007586    0.007644    0.006870    0.007246    0.007246    0.153801
std      0.053399    0.071382    0.043914    0.057976    0.057976    0.807762
min     -0.155617   -0.148681   -0.094321   -0.082840   -0.082840   -0.622475
25%     -0.021446   -0.012805   -0.013490   -0.019372   -0.019372   -0.294645
50%      0.004127    0.001546    0.003885   -0.001232   -0.001232   -0.095376
75%      0.027623    0.018615    0.020770    0.026885    0.026885    0.326215
max      0.292049    0.628941    0.301038    0.478899    0.478899    4.988245

In [14]:
0.057976*100 # std ~5% per day

5.7976

In [15]:
-0.082840*100 # we may loss ~8% per day

-8.283999999999999

In [16]:
arm_df.pct_change().describe()*100 # we normally don't directly multiply these statistics data by 100 as we can see the number of count wil be change to wrong one

,Open,High,Low,Close,Adj Close,Volume
count,10200.000000,10200.000000,10200.000000,10200.000000,10200.000000,10200.000000
mean,0.758595,0.764383,0.686979,0.724617,0.724617,15.380080
std,5.339946,7.138186,4.391375,5.797642,5.797642,80.776220
min,-15.561703,-14.868114,-9.432098,-8.283983,-8.283983,-62.247550
25%,-2.144603,-1.280533,-1.348994,-1.937186,-1.937186,-29.464485
50%,0.412744,0.154595,0.388515,-0.123170,-0.123170,-9.537634
75%,2.762317,1.861516,2.077003,2.688543,2.688543,32.621528
max,29.204878,62.894094,30.103806,47.889880,47.889880,498.824504