In [1]:
import pandas as pd

In [2]:
# create new dataframe

data = pd.DataFrame({'const': 1, 'SAT_score': [1650, 1500], 'Attendance': [0, 1]})
data

   const  SAT_score  Attendance
0      1       1650           0
1      1       1500           1

In [3]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data = data[['SAT_score', 'Attendance', 'const']]
data

   SAT_score  Attendance  const
0       1650           0      1
1       1500           1      1

In [7]:
type(data)

pandas.core.frame.DataFrame

In [8]:
data.rename(index = {0: 'Natty', 1: 'Mark'})

       SAT_score  Attendance  const
Natty       1650           0      1
Mark        1500           1      1