Working with Pandas and Numpy

In [8]:
import pandas as pd
import numpy as np

In [9]:
data = np.arange(0, 50).reshape(5, 10)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [10]:
df = pd.DataFrame(data = data) # pandas will automatically generate column name start with 0
df

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49

In [11]:
data2 = np.arange(0, 10).reshape(5, 2)
data2

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [12]:
df2 = pd.DataFrame(data = data2, columns = ['ColA', 'ColB']) # now we assign columns name
df2

   ColA  ColB
0     0     1
1     2     3
2     4     5
3     6     7
4     8     9