In [1]:
# import libraries

import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('files/Advertising.csv', index_col = 0)
df.head(3)

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3

In [6]:
df = pd.read_csv('files/Advertising.csv', usecols = [1, 2, 3, 4])
df.head(3)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3

In [7]:
df.shape

(200, 4)

In [8]:
len(df)

200

### Mothod 1: split data into (train, test)

In [9]:
train, test = train_test_split(df, train_size = 0.7, random_state = 7)

In [10]:
print(len(train))
print(len(test))

140
60

In [11]:
train.head(3)

        TV  Radio  Newspaper  Sales
88    88.3   25.5       73.4   12.9
58   210.8   49.6       37.7   23.8
113  209.6   20.6       10.7   15.9

In [12]:
test.head(3)

        TV  Radio  Newspaper  Sales
86    76.3   27.5       16.0   12.0
120  141.3   26.8       46.2   15.5
22    13.2   15.9       49.6    5.6

### Method 2: Split into (X_train, X_test, y_train, y_test)

In [13]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [15]:
X = df[['TV', 'Radio', 'Newspaper']]
y = df['Sales']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 7)

In [17]:
X_train.head(3)

        TV  Radio  Newspaper
88    88.3   25.5       73.4
58   210.8   49.6       37.7
113  209.6   20.6       10.7

In [18]:
X_test.head(3)

        TV  Radio  Newspaper
86    76.3   27.5       16.0
120  141.3   26.8       46.2
22    13.2   15.9       49.6

In [19]:
y_train.head(3)

88     12.9
58     23.8
113    15.9
Name: Sales, dtype: float64

In [20]:
y_test.head(3)

86     12.0
120    15.5
22      5.6
Name: Sales, dtype: float64