### Lambda Function

- use to create quick throwaway function without the need of formal function definition
- are perfect for short and simple
- keep our code clean and easy to read and write
- lambda arguments: expression

In [1]:
name_lists = [
    {"name": "Mike", "company": "Linkinpark"},
    {"name": "JJ", "company": "We Double You"},
    {"name": "Mark", "company": "GOT7"}
]

def n(person):
    return person['company'] # tell to sort by Mark as a company started with G which come before L and W

name_lists.sort(key = n) 
print(name_lists)

[{'name': 'Mark', 'company': 'GOT7'}, {'name': 'Mike', 'company': 'Linkinpark'}, {'name': 'JJ', 'company': 'We Double You'}]

In [2]:
# we can use one-line function called a lambda expression instead to use drfine function as above example

name_lists = [
    {"name": "Mike", "company": "Linkinpark"},
    {"name": "JJ", "company": "We Double You"},
    {"name": "Mark", "company": "GOT7"}
]

name_lists.sort(key = lambda person: person["name"]) # takes the person as the input then return name
print(name_lists)

[{'name': 'JJ', 'company': 'We Double You'}, {'name': 'Mark', 'company': 'GOT7'}, {'name': 'Mike', 'company': 'Linkinpark'}]

In [3]:
name_lists = [
    {"name": "Mike", "company": "Linkinpark"},
    {"name": "JJ", "company": "We Double You"},
    {"name": "Mark", "company": "GOT7"}
]

name_lists.sort(key = lambda person: person["company"]) # takes the person as the input then return company
print(name_lists)

[{'name': 'Mark', 'company': 'GOT7'}, {'name': 'Mike', 'company': 'Linkinpark'}, {'name': 'JJ', 'company': 'We Double You'}]

In [4]:
# get x and y then square it

square = lambda x, y: x**y
square

In [5]:
square(2, 3)

8

In [21]:
# work with dataframe - most common application pd.apply()

import pandas as pd

In [22]:
# read csv file and save to a dataframe named park_df

park_df = pd.read_csv('data_us_national_parks/parks.csv', index_col = ['Park Code'])
park_df.head(3)

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [23]:
park_df['Acres'] = park_df['Acres'].apply(lambda x: x * 2)
park_df.head()

                        Park Name State    Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME    94780     44.35     -68.21
ARCH         Arches National Park    UT   153038     38.68    -109.57
BADL       Badlands National Park    SD   485512     43.75    -102.50
BIBE       Big Bend National Park    TX  1602326     29.25    -103.25
BISC       Biscayne National Park    FL   345848     25.65     -80.08