In [11]:
import pandas as pd

In [12]:
dict1 = {'name': ['JB', 'Jackson', 'Mark', 'BamBam', 'Jinyoung', 'Youngjae', 'Yugyeom'], 
'height': [179, 174, 175, 175, 178, 177, 182]}
dict1

{'name': ['JB',
  'Jackson',
  'Mark',
  'BamBam',
  'Jinyoung',
  'Youngjae',
  'Yugyeom'],
 'height': [179, 174, 175, 175, 178, 177, 182]}

In [13]:
df = pd.DataFrame(dict1)
df

       name  height
0        JB     179
1   Jackson     174
2      Mark     175
3    BamBam     175
4  Jinyoung     178
5  Youngjae     177
6   Yugyeom     182

In [15]:
got7 = [
    {'name': 'JB', 'height': 179},
    {'name': 'Jackson', 'height': 174},
    {'name': 'Mark', 'height': 175},
]

In [16]:
for data in got7:
    print(data['name'], data['height'])

JB 179
Jackson 174
Mark 175

In [19]:
dict2 = {} # empty dictionary

list1 = ['A', 'list', 'of', 'keys']
list2 = ['A', 'list', 'of', 'values']

In [20]:
dict2[list2[-2]] = list2[0]

In [21]:
dict2[list1[-2]] = list2[0]

In [22]:
dict2[list1[-2]] = 'A'

In [23]:
dict2['of'] = 'A'

In [24]:
dict2

{'of': 'A'}