In [1]:
import pandas as pd

In [2]:
got7Height = {
    'member': ['JB', 'Mark', 'Jackson', 'BamBam' ,'Jinyoung', 'Youngjae', 'Yugyeom'],
    'height': ['179cm', '175cm', '174cm', '175cm', '178cm', '177cm', '182cm']
}
got7Height

{'member': ['JB',
  'Mark',
  'Jackson',
  'BamBam',
  'Jinyoung',
  'Youngjae',
  'Yugyeom'],
 'height': ['179cm', '175cm', '174cm', '175cm', '178cm', '177cm', '182cm']}

In [3]:
type(got7Height)

dict

In [4]:
df = pd.DataFrame.from_dict(got7Height)
df

     member height
0        JB  179cm
1      Mark  175cm
2   Jackson  174cm
3    BamBam  175cm
4  Jinyoung  178cm
5  Youngjae  177cm
6   Yugyeom  182cm

In [5]:
df.iloc[:, -1] # iloc: integer location

0    179cm
1    175cm
2    174cm
3    175cm
4    178cm
5    177cm
6    182cm
Name: height, dtype: object

In [6]:
df.loc[:, 'height'] # loc : location

0    179cm
1    175cm
2    174cm
3    175cm
4    178cm
5    177cm
6    182cm
Name: height, dtype: object

In [7]:
df.iloc[2:]

     member height
2   Jackson  174cm
3    BamBam  175cm
4  Jinyoung  178cm
5  Youngjae  177cm
6   Yugyeom  182cm

In [8]:
df['height'] = df.apply(lambda x: x['height'].replace('cm', ''), axis = 1)
df

     member height
0        JB    179
1      Mark    175
2   Jackson    174
3    BamBam    175
4  Jinyoung    178
5  Youngjae    177
6   Yugyeom    182

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   member  7 non-null      object
 1   height  7 non-null      object
dtypes: object(2)
memory usage: 240.0+ bytes

In [10]:
df['height'] = df['height'].astype(float)
df

     member  height
0        JB   179.0
1      Mark   175.0
2   Jackson   174.0
3    BamBam   175.0
4  Jinyoung   178.0
5  Youngjae   177.0
6   Yugyeom   182.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   member  7 non-null      object
 1   height  7 non-null      float64
dtypes: float64(1), object(1)
memory usage: 240.0+ bytes