Working with Pandas and Numpy

In [2]:
# step 1: import pandas and numpy
import pandas as pd
import numpy as np

In [3]:
# step 2: set NumPy's random number generation seed to 101
np.random.seed(101)

In [4]:
# step 3: create a Numpy matrix of 100 rows by 5 columns consisting of random integer from 1-100
ranData = np.random.randint(1, 100, (100, 5))
ranData

array([[96, 12, 82, 71, 64],
       [88, 76, 10, 78, 41],
       [ 5, 64, 41, 61, 93],
       [65,  6, 13, 94, 41],
       [50, 84,  9, 30, 60],
       [35, 45, 73, 20, 11],
       [77, 96, 88,  1, 74],
       [ 9, 63, 37, 84, 29],
       [64,  8, 11, 53, 57],
       [39, 74, 53, 19, 72],
       [16, 45,  1, 13, 18],
       [76, 80, 98, 94, 25],
       [37, 64, 20, 36, 31],
       [11, 61, 21, 28,  9],
       [87, 27, 88, 47, 48],
       [55, 87, 10, 46,  3],
       [19, 59, 93, 12, 11],
       [95, 36, 29,  4, 84],
       [85, 48, 15, 70, 61],
       [70, 52,  7, 89, 72],
       [69, 24, 36, 80, 99],
       [68, 83, 58, 78, 47],
       [ 4, 47, 30, 87, 22],
       [22, 82, 24, 95, 72],
       [21, 28, 76,  6, 50],
       [87, 90, 64, 83, 78],
       [ 4, 57, 15, 50, 88],
       [53, 14, 48, 50, 25],
       [21, 65, 53, 61, 48],
       [30, 61, 54, 12, 41],
       [92, 46, 98, 25, 37],
       [39, 10, 53, 68, 44],
       [ 2, 80, 69, 69, 62],
       [19, 52, 15, 29, 18],
       [88, 47, 53, 17, 71],
       [72, 85, 11, 63, 97],
       [58, 24, 87, 86, 27],
       [77, 67, 55, 18, 66],
       [58, 90,  3, 81, 51],
       [67, 89, 80, 94,  7],
       [93, 43, 23, 21, 26],
       [98, 55, 72, 73, 81],
       [94, 65, 64, 81, 39],
       [46, 36, 26, 96, 76],
       [73, 12, 77, 80, 51],
       [23, 60, 67,  2, 35],
       [38, 58, 36, 43, 45],
       [50, 32, 80, 86,  4],
       [56, 74, 94, 95, 41],
       [55, 89, 95, 87, 18],
       [69, 18, 19, 61, 84],
       [83,  8, 68, 35, 77],
       [95, 21, 70, 74, 60],
       [35, 70, 26, 79, 93],
       [75, 76, 34, 10, 44],
       [21, 83, 31,  4, 47],
       [30, 48, 28, 82, 72],
       [26, 95, 58, 22, 30],
       [ 7, 55, 48, 48, 61],
       [ 7, 76, 98, 54, 45],
       [99, 40, 33, 88, 79],
       [22, 91, 15, 21,  2],
       [71, 26, 46, 97, 33],
       [32, 42, 80, 88, 23],
       [95, 47, 72, 25, 42],
       [37, 32, 17, 88, 23],
       [97,  4, 13, 72, 10],
       [88, 96, 40, 65, 63],
       [89, 77, 94, 84, 96],
       [69, 70, 60, 53,  8],
       [41, 74, 87, 15, 50],
       [98, 26, 58, 41, 18],
       [33, 84, 98, 28, 48],
       [14, 71, 16, 93, 19],
       [95, 49, 66, 83, 35],
       [ 6, 47, 84, 28, 27],
       [21, 88, 85, 18, 60],
       [65, 45,  5, 52, 50],
       [75, 83, 38, 54, 94],
       [74,  6, 38, 57, 36],
       [16, 41, 43, 72, 38],
       [47, 72, 92, 98, 37],
       [44, 28, 67, 58,  4],
       [56, 71, 42, 68, 73],
       [89, 68, 76, 70, 93],
       [21, 16, 58, 10, 70],
       [98, 92, 52, 55, 46],
       [39, 16, 43, 62,  9],
       [ 4, 89, 73, 42, 25],
       [94, 29, 96, 44, 49],
       [70, 43, 67, 83, 67],
       [89, 79, 15, 54, 47],
       [15, 28, 69, 22, 39],
       [43, 31, 89, 80, 57],
       [66, 94, 38, 88, 67],
       [17, 61, 26, 31, 42],
       [73, 46, 27, 88, 66],
       [61, 90, 71, 34, 60],
       [29, 17, 50, 96, 42],
       [12, 87, 16, 96, 92]])

In [5]:
# step 4: Now use pd.DataFrame() to read in this numpy array as a dataframe
df = pd.DataFrame(ranData)
df

     0   1   2   3   4
0   96  12  82  71  64
1   88  76  10  78  41
2    5  64  41  61  93
3   65   6  13  94  41
4   50  84   9  30  60
..  ..  ..  ..  ..  ..
95  17  61  26  31  42
96  73  46  27  88  66
97  61  90  71  34  60
98  29  17  50  96  42
99  12  87  16  96  92

[100 rows x 5 columns]

In [6]:
# step 5: rename the columns to be ['C1', 'C2', 'C3', 'C4', 'label']
df.columns = ['C1', 'C2', 'C3', 'C4', 'label']

In [7]:
df.head()

   C1  C2  C3  C4  label
0  96  12  82  71     64
1  88  76  10  78     41
2   5  64  41  61     93
3  65   6  13  94     41
4  50  84   9  30     60

In [9]:
# step 6: create data frame with the columns ['A', 'B', 'C', 'D'] with each column having 50 rows of random numbers for data. The random numbers should be between 0 and 100.
randomNumbers = np.random.randint(0, 100, (50, 4))
colNames = ['A', 'B', 'C', 'D']

In [10]:
df_data = pd.DataFrame(data = randomNumbers, columns = colNames)
df_data

     A   B   C   D
0   19  69   1  77
1   63  87  28  70
2    5   3  12  62
3   26  96  61  87
4   74  99  97  64
5   95   3  88  59
6   38  29  31  88
7   57   9  62  31
8   13  35  47   2
9   17  50  22  30
10  36  22  97  51
11  38  28   4   0
12  12  90   2   7
13  44  54  49  76
14  98   3  32  91
15  43   7  42  66
16   9   5  26  66
17  22  47  27  46
18  14  52  74  54
19   3  94  36  63
20  41  18  37  45
21  82  47  66  97
22  20   9  87  40
23  13  95  16  38
24  87  72  60  78
25  53  48  83  90
26  41  84  78  55
27  70  93  57  86
28  67   8  47  70
29  39  53   5  40
30  88  58  12  70
31   5  82   8  60
32  58  45  92  85
33  44  62  39  38
34  54  98  80  93
35  16  37  58  40
36  72  72  22  42
37  38  45  16  52
38  17  22  15  18
39  37  48   2   2
40  31  50  78  70
41  40  60  62  69
42  34  95  58   4
43  70  20  18  66
44  23  87  45  64
45   6  39  29  60
46  33  18  59  64
47  59  65  10  86
48  66  38  76  97
49  79   7  65  50