In [31]:
# import libraries

import pandas as pd 
import numpy as np

In [32]:
x = np.random.normal(10, 2, size = 100) # mean = 10, SD = 2
x

array([11.18761405,  8.38878192, 11.45814019,  7.85840864,  8.42312693,
        6.52225856, 12.51556209, 10.74957459,  7.59015146,  6.83749608,
        8.35689603, 11.31843143,  8.46468561, 11.1890402 , 13.46308777,
       11.8307366 , 12.57288193,  8.63114703,  9.09762289, 11.44224318,
       10.16015695,  8.17781178, 12.39975178, 10.40202342,  7.80212597,
        5.09772772, 12.3206614 ,  9.79081811, 12.9484605 , 11.7122355 ,
       10.76621963,  9.46282812,  9.0873385 , 12.45133383, 10.18742401,
        9.8672896 , 11.70087169,  8.62117309,  9.15960747, 10.40733458,
       12.20821395, 10.26466916, 11.72331983, 11.11089143,  8.40965395,
       13.3644181 ,  8.00701051, 12.15693488, 13.50578122,  6.50576036,
        9.59539282,  9.48793712,  9.63326607,  7.03719492, 12.05497116,
       11.94257832,  9.05514415,  9.7729288 ,  8.48743845,  7.93011157,
       11.32872138,  8.60753993, 11.78060006,  6.7267345 , 14.63526399,
       11.23880857,  9.59868499, 11.1595943 ,  7.07598136,  8.92182937,
        9.28367943,  9.56364823, 11.8044516 , 10.78222098,  9.06309128,
       12.09608607, 13.72152154,  8.36180739, 12.1639952 , 11.30685291,
        8.72528091, 11.63498787, 12.96555033, 12.49986593,  6.52479492,
       11.37051496,  5.98733596, 12.54775556,  8.28841283,  9.59517238,
       11.54364338, 13.68206477, 10.82499358,  8.3868812 ,  7.35851304,
       10.47778727, 13.0547483 ,  9.90164745,  8.46881442,  8.11522492])

In [33]:
type(x)

numpy.ndarray

In [34]:
df = pd.DataFrame(x, dtype = 'float32', columns = ['x'])
df.head(4)

           x
0  11.187614
1   8.388782
2  11.458140
3   7.858408

In [35]:
df.shape

(100, 1)

In [36]:
df.tail(4)

            x
96  13.054749
97   9.901648
98   8.468815
99   8.115225

In [37]:
df.x.mean()

10.138498

In [38]:
x.mean()

10.13849800643565

In [39]:
x2 = x

In [40]:
x2

array([11.18761405,  8.38878192, 11.45814019,  7.85840864,  8.42312693,
        6.52225856, 12.51556209, 10.74957459,  7.59015146,  6.83749608,
        8.35689603, 11.31843143,  8.46468561, 11.1890402 , 13.46308777,
       11.8307366 , 12.57288193,  8.63114703,  9.09762289, 11.44224318,
       10.16015695,  8.17781178, 12.39975178, 10.40202342,  7.80212597,
        5.09772772, 12.3206614 ,  9.79081811, 12.9484605 , 11.7122355 ,
       10.76621963,  9.46282812,  9.0873385 , 12.45133383, 10.18742401,
        9.8672896 , 11.70087169,  8.62117309,  9.15960747, 10.40733458,
       12.20821395, 10.26466916, 11.72331983, 11.11089143,  8.40965395,
       13.3644181 ,  8.00701051, 12.15693488, 13.50578122,  6.50576036,
        9.59539282,  9.48793712,  9.63326607,  7.03719492, 12.05497116,
       11.94257832,  9.05514415,  9.7729288 ,  8.48743845,  7.93011157,
       11.32872138,  8.60753993, 11.78060006,  6.7267345 , 14.63526399,
       11.23880857,  9.59868499, 11.1595943 ,  7.07598136,  8.92182937,
        9.28367943,  9.56364823, 11.8044516 , 10.78222098,  9.06309128,
       12.09608607, 13.72152154,  8.36180739, 12.1639952 , 11.30685291,
        8.72528091, 11.63498787, 12.96555033, 12.49986593,  6.52479492,
       11.37051496,  5.98733596, 12.54775556,  8.28841283,  9.59517238,
       11.54364338, 13.68206477, 10.82499358,  8.3868812 ,  7.35851304,
       10.47778727, 13.0547483 ,  9.90164745,  8.46881442,  8.11522492])

In [41]:
df = pd.DataFrame(x, dtype = 'float64', columns = ['x2'])
df.head(4)

          x2
0  11.187614
1   8.388782
2  11.458140
3   7.858409

In [42]:
df.shape

(100, 1)

In [43]:
df['x2'].mean()

10.13849800643565

In [44]:
x2.mean()

10.13849800643565

In [ ]:
# There is difference of 32 bit floats's mean. It's at the limit of the precision of 32 bit floats. We could accept!