### loc[] and iloc[]
- loc[] wotks on a label of our index
- iloc works on a position of our index

In [1]:
# create a dataframe

data_dict = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(data = data_dict)

In [4]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

In [6]:
df.shape

(3, 3)

In [7]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [8]:
# how to get number 1

df.iloc[0][0]

1

In [9]:
df.loc[0]['A']

1

In [10]:
df.at[0, 'A']

1

In [11]:
df.iat[0, 0]

1

In [12]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [13]:
# how to get number 8

df.iloc[1][2]

8

In [14]:
df.loc[1]['C']

8

In [16]:
df.at[1, 'C']

8

In [17]:
df.iat[1, 2]

8

In [20]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [21]:
df.iloc[1][1] = 10

In [22]:
df

   A   B  C
0  1   4  7
1  2  10  8
2  3   6  9

In [23]:
df.loc[2]['A'] = 30

In [24]:
df

    A   B  C
0   1   4  7
1   2  10  8
2  30   6  9