### Data Class

- It is introduced in Python 3.7.
- It provides a con venient way to create classes that promarity store data
- With minimal boilerplate code, data classes automatically generate special methods like "__init__", "__repr__", "__eq__" and etc.
- It makes our code cleaner and more readable be reducing redundancy
- It can be used to generate instances that are immutable which can help prevent bufs that instances remain consistent throughout their lifetime.
- A special method "__post_init__" that is called after the instance has been initialized. It can be used to perform affitional setup or validation on the instance's attibutes.

In [1]:
# Regular Class

class Car:

    def __init__(self, brand, model, year):
        # all cars will have properties as following
        self.brand = brand
        self.model = model
        self.year = year

In [2]:
my_car1 = Car("Toyota", 'Sienta', 2017)
my_car2 = Car(model = 'Sienta', brand = "Toyota", year = 2017)
my_car3 = Car(year = 2015, brand = "Honda", model = 'CRV')

In [3]:
print(my_car1) # cannot print a human-readable format

<__main__.Car object at 0x1114dd340>

In [4]:
id(my_car1), id(my_car2), id(my_car3)

(4585280320, 4585282960, 4585282624)

In [5]:
my_car1 == my_car2

False

In [6]:
my_car1 is my_car2

False

In [7]:
# Let's see Data Class

from dataclasses import dataclass

In [8]:
@dataclass

class Car:
    brand: str
    model: str
    year: int

In [9]:
my_car1 = Car("Toyota", 'Sienta', 2017)
my_car2 = Car(model = 'Sienta', brand = "Toyota", year = 2017)
my_car3 = Car(year = 2015, brand = "Honda", model = 'CRV')

In [10]:
print(my_car1)

Car(brand='Toyota', model='Sienta', year=2017)

In [11]:
id(my_car1), id(my_car2), id(my_car3)

(4585240992, 4585242576, 4585241184)

In [12]:
my_car1 == my_car2

True

In [13]:
my_car1 is my_car2 # False bcs they are different objects in the memory which have different id

False

In [14]:
# Ler's generate instances that are immutable 

from dataclasses import dataclass

@dataclass(frozen = True)

class Car:
    brand: str
    model: str
    year: int

In [15]:
my_car1 = Car("Toyota", 'Sienta', 2017)

In [16]:
my_car1

Car(brand='Toyota', model='Sienta', year=2017)

In [17]:
print(my_car1)

Car(brand='Toyota', model='Sienta', year=2017)

In [18]:
my_car1.brand = "Honda" # We will see FrozenInstanceError: cannot assign to field 'brand'

FrozenInstanceError: cannot assign to field 'brand'

In [21]:
# Let's work on a special method "__post_init__

from dataclasses import dataclass, field

@dataclass

class Car:
    brand: str
    model: str
    year: int
    horsepower: int
    weight: int
    acceleration: int
    mpg: float = field(init = False)

    def __post_init__(self):
        self.mpg = self.horsepower + self.weight + self.acceleration # mpg ~ horsepower + weight + acceleration

In [27]:
car1 = Car(brand="Mazda", model = "RX4", year = 2000, horsepower = 110, weight = 2.62, acceleration = 1)
car1

Car(brand='Mazda', model='RX4', year=2000, horsepower=110, weight=2.62, acceleration=1, mpg=113.62)

In [28]:
car1.mpg

113.62