In [1]:
name = "Natty"

In [2]:
name[0]

'N'

In [3]:
name[-1]

'y'

In [4]:
name[4]

'y'

In [5]:
name[1]

'a'

In [6]:
name[-4]

'a'

In [7]:
names = ['BamBam', "Mark", "Jackson"] # list
names

['BamBam', 'Mark', 'Jackson']

In [8]:
names[-1]

'Jackson'

In [9]:
names[0]

'BamBam'

In [10]:
names[1]

'Mark'

In [11]:
coordinate = (14.5, 20.0) # tuple

In [12]:
coordinate

(14.5, 20.0)

In [13]:
type(coordinate)

tuple

In [14]:
coordinate[0]

14.5

In [15]:
coordinate[1]

20.0

In [16]:
names.append("Jinyoung")

In [17]:
names

['BamBam', 'Mark', 'Jackson', 'Jinyoung']

In [18]:
names[-1]

'Jinyoung'

In [19]:
my_set = set() # an empty set

# add new elements to my set
my_set.add(1)
my_set.add(2)
my_set.add(2)
my_set.add(3)
my_set.add(1)
my_set.add(5)
my_set.add(4)

In [20]:
my_set

{1, 2, 3, 4, 5}

In [21]:
my_set.remove(5) # remove number 5 from my set
my_set

{1, 2, 3, 4}

In [22]:
len(my_set)

4

In [23]:
my_set[4]

TypeError: 'set' object is not subscriptable

In [24]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for name in names:
    print(name)

BamBam
Mark
Jackson
Jinyoung

In [29]:
for n in names:
    print(n[0])

B
M
J
J