### Useful build-in function in Python

- enumerate():
    - add a counter to an iterable and return it inform of an enumerating object
    - returned object is an iterator
- any(): 
    - return True if at least one element of the iterable is 
    - return False if all elements are False
- all():
    - return False if at least one element of the iterable is 
    - return True if all elements are False
- zip():
    - combine multiple iterables (lists or tuples) element-wise
    - return tuples of the combined elements
- filter():
    - constructs an iterator from elements of an iterable for which a function return True
    - efficient for filtering lists based on a condition
- reverse()
    - return reverse iterator for the given sequence (list, tuple, string, etc)
- eval():
    - parses and evaluats a Python expression passed to it as a string
    - allows dynamic exucution of Python expression

In [34]:
# enumerate()

got7 = ['Jackson', 'JB', 'Jinyoung', 'Youngjae', 'Mark', 'BamBam', 'Yugyeom']
got7

['Jackson', 'JB', 'Jinyoung', 'Youngjae', 'Mark', 'BamBam', 'Yugyeom']

In [35]:
type(got7)

list

In [36]:
len(got7)

7

In [37]:
for index, item in enumerate(got7):
    print(index, item)

0 Jackson
1 JB
2 Jinyoung
3 Youngjae
4 Mark
5 BamBam
6 Yugyeom

In [38]:
# any()

print(any(member == 'Mark' for member in got7))

True

In [39]:
# all()

print(all(member == 'Mark' for member in got7))

False

In [40]:
# zip()

got7 = ['Jackson', 'JB', 'Jinyoung', 'Youngjae', 'Mark', 'BamBam', 'Yugyeom']
age7 = [32, 32, 32, 30, 33, 29, 29]

got7_info = zip(got7, age7)
got7_info

In [41]:
list(got7_info)

[('Jackson', 32),
 ('JB', 32),
 ('Jinyoung', 32),
 ('Youngjae', 30),
 ('Mark', 33),
 ('BamBam', 29),
 ('Yugyeom', 29)]

In [42]:
# filter()

age7_even_nums = filter(lambda age: age % 2 == 0, age7)
age7_even_nums

In [43]:
list(age7_even_nums)

[32, 32, 32, 30]

In [44]:
age7_odd_nums = filter(lambda age: age % 2 != 0, age7)
list(age7_odd_nums)

[33, 29, 29]

In [45]:
# map()

age7_next2yrs = map(lambda age: age + 2, age7)
age7_next2yrs

In [46]:
list(age7_next2yrs)

[34, 34, 34, 32, 35, 31, 31]

In [47]:
# reverse()

print(got7)
print(list(reversed(got7)))

['Jackson', 'JB', 'Jinyoung', 'Youngjae', 'Mark', 'BamBam', 'Yugyeom']
['Yugyeom', 'BamBam', 'Mark', 'Youngjae', 'Jinyoung', 'JB', 'Jackson']

In [48]:
# eval()

expression = '9/3 + 2**3'
expression

'9/3 + 2**3'

In [49]:
type(expression)

str

In [50]:
eval(expression)

11.0

In [51]:
expression2 = 'np.sqrt(16) + 2**3'
expression2

'np.sqrt(16) + 2**3'

In [52]:
eval(expression2)

12.0