### install Yahoo finance libraries

#### pip install yfinance

In [2]:
# import libraries

import pandas as pd 
import yfinance as yf 

import matplotlib.pyplot as plt 
%matplotlib inline

In [5]:
# get data from Yahoo finance

data = yf.Ticker('PTT.BK')
data

yfinance.Ticker object <PTT.BK>

In [6]:
data.info

{'address1': '555 Vibhavadi-Rangsit Road',
 'address2': 'Chatuchak',
 'city': 'Bangkok',
 'zip': '10900',
 'country': 'Thailand',
 'phone': '66 2 537 2000',
 'fax': '66 2 537 3498',
 'website': 'https://www.pttplc.com',
 'industry': 'Oil & Gas Integrated',
 'industryKey': 'oil-gas-integrated',
 'industryDisp': 'Oil & Gas Integrated',
 'sector': 'Energy',
 'sectorKey': 'energy',
 'sectorDisp': 'Energy',
 'longBusinessSummary': 'PTT Public Company Limited, together with its subsidiaries, engages in petroleum business in Thailand, rest of Asia, Europe, the Americas, and internationally. The company is involved in the exploration and production of petroleum; natural gas procurement, pipeline transmission, distribution, and separation activities; and management and maintenance services of port, LNG storage, and LNG station, as well as cooling management and other related businesses. In addition, it engages in the investment, mining, and marketing of coal; and marketing of petroleum products and lube oil through an operating system of procurement, storage, and distribution of products, as well as the retail business at service stations. Further, the company is involved in the import and export of petroleum and petrochemical products, as well as other related products; production and distribution of electricity, steam, and water for industrial purpose; and provision of project management, human resource support, petroleum related technology, consultant management, technical consultant for electricity businesses, petrol station and convenience store management, factory maintenance and engineering, oil and gas, and safety and environmental services, as well as engages in wind power project development. Additionally, it produces and distributes chilled water/constructs and installs electricity generating systems; develops electricity power production projects; distributes polymers products, and other polymers-related products; develops real estate; operates vocational schools; and manufactures and distributes biochemical products, paraxylene, and industrial coatings and additives, as well as engages in the transportation of polyethylene. It engages in the provision of financial and online car services; coffee and beverage business; and manufacturing and distributing petrochemical and health and nutrition products. The company was founded in 1978 and is headquartered in Bangkok, Thailand.',
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Auttapol  Rerkpiboon',
   'age': 57,
   'title': 'CEO, President, Secretary to the Board, Authorized Director & Director',
   'yearBorn': 1966,
   'fiscalYear': 2022,
   'totalPay': 4316009,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Pannalin  Mahawongtikul',
   'age': 59,
   'title': 'Chief Financial Officer',
   'yearBorn': 1964,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Wirat  Uanarumit',
   'age': 61,
   'title': 'Chief Operating Officer',
   'yearBorn': 1962,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Numpetch  Supharatanasit',
   'title': 'Chief Accountant & Executive VP of Global Business Services',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Tanapon  Prapapan',
   'title': 'Vice President of Investor Relations Department',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Peangpanor  Boonklum',
   'age': 56,
   'title': 'Senior Executive Vice President - Office of General Counsel',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Montri  Sotangkul',
   'age': 61,
   'title': 'Senior Executive Vice President',
   'yearBorn': 1962,
   'fiscalYear': 2022,
   'totalPay': 2625452,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Noppadol  Pinsupa',
   'age': 58,
   'title': 'Chief Operating Officer of Downstream Petroleum Business Group',
   'yearBorn': 1965,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Wilaiwan  Kanjanakanti',
   'age': 56,
   'title': 'Executive Vice President of Group Accounting & Tax Policy',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Jiraphon  Kawswat',
   'age': 60,
   'title': 'Senior Executive Vice President',
   'yearBorn': 1963,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 35.75,
 'open': 35.75,
 'dayLow': 35.5,
 'dayHigh': 36.0,
 'regularMarketPreviousClose': 35.75,
 'regularMarketOpen': 35.75,
 'regularMarketDayLow': 35.5,
 'regularMarketDayHigh': 36.0,
 'dividendRate': 1.5,
 'dividendYield': 0.042,
 'exDividendDate': 1696377600,
 'payoutRatio': 0.3827,
 'fiveYearAvgDividendYield': 4.85,
 'beta': 0.793,
 'trailingPE': 9.119898,
 'forwardPE': 9.261659,
 'volume': 36323653,
 'regularMarketVolume': 36323653,
 'averageVolume': 40707088,
 'averageVolume10days': 31656100,
 'averageDailyVolume10Day': 31656100,
 'bid': 0.0,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 1021127229440,
 'fiftyTwoWeekLow': 29.5,
 'fiftyTwoWeekHigh': 36.5,
 'priceToSalesTrailing12Months': 0.32472914,
 'fiftyDayAverage': 34.895,
 'twoHundredDayAverage': 33.94125,
 'trailingAnnualDividendRate': 2.0,
 'trailingAnnualDividendYield': 0.055944055,
 'currency': 'THB',
 'enterpriseValue': 2236821536768,
 'profitMargins': 0.03562,
 'floatShares': 13506584037,
 'sharesOutstanding': 28562999296,
 'heldPercentInsiders': 0.56926996,
 'heldPercentInstitutions': 0.14222,
 'impliedSharesOutstanding': 28562999296,
 'bookValue': 39.254,
 'priceToBook': 0.9107352,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': 0.755,
 'netIncomeToCommon': 112023879680,
 'trailingEps': 3.92,
 'forwardEps': 3.86,
 'pegRatio': 1.72,
 'lastSplitFactor': '10:1',
 'lastSplitDate': 1524528000,
 'enterpriseToRevenue': 0.711,
 'enterpriseToEbitda': 5.252,
 '52WeekChange': 0.08333337,
 'SandP52WeekChange': 0.25222528,
 'lastDividendValue': 0.8,
 'lastDividendDate': 1696377600,
 'exchange': 'SET',
 'quoteType': 'EQUITY',
 'symbol': 'PTT.BK',
 'underlyingSymbol': 'PTT.BK',
 'shortName': 'PTT_PTT',
 'longName': 'PTT Public Company Limited',
 'firstTradeDateEpochUtc': 1007607600,
 'timeZoneFullName': 'Asia/Bangkok',
 'timeZoneShortName': 'ICT',
 'uuid': 'f2e46f8d-ba6a-36e1-8c33-869df411b960',
 'messageBoardId': 'finmb_5469268',
 'gmtOffSetMilliseconds': 25200000,
 'currentPrice': 35.75,
 'targetHighPrice': 46.0,
 'targetLowPrice': 30.0,
 'targetMeanPrice': 38.59,
 'targetMedianPrice': 40.0,
 'recommendationMean': 2.3,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 19,
 'totalCash': 449525481472,
 'totalCashPerShare': 15.738,
 'ebitda': 425898901504,
 'totalDebt': 1161442492416,
 'quickRatio': 1.309,
 'currentRatio': 1.837,
 'totalRevenue': 3144550711296,
 'debtToEquity': 71.474,
 'revenuePerShare': 110.092,
 'returnOnAssets': 0.04203,
 'returnOnEquity': 0.09832,
 'freeCashflow': 132089716736,
 'operatingCashflow': 382045159424,
 'earningsGrowth': 0.755,
 'revenueGrowth': 0.012,
 'grossMargins': 0.11495,
 'ebitdaMargins': 0.13543999,
 'operatingMargins': 0.046729997,
 'financialCurrency': 'THB',
 'trailingPegRatio': None}

In [7]:
type(data)

yfinance.ticker.Ticker

In [8]:
# get data to Pandas series

pd.Series(data.info)

address1             555 Vibhavadi-Rangsit Road
address2                              Chatuchak
city                                    Bangkok
zip                                       10900
country                                Thailand
                                ...
grossMargins                            0.11495
ebitdaMargins                           0.13544
operatingMargins                        0.04673
financialCurrency                           THB
trailingPegRatio                           None
Length: 118, dtype: object

In [10]:
pd.Series(data.info).head(20)

address1                                            555 Vibhavadi-Rangsit Road
address2                                                             Chatuchak
city                                                                   Bangkok
zip                                                                      10900
country                                                               Thailand
phone                                                            66 2 537 2000
fax                                                              66 2 537 3498
website                                                 https://www.pttplc.com
industry                                                  Oil & Gas Integrated
industryKey                                                 oil-gas-integrated
industryDisp                                              Oil & Gas Integrated
sector                                                                  Energy
sectorKey                                                               energy
sectorDisp                                                              Energy
longBusinessSummary          PTT Public Company Limited, together with its ...
companyOfficers              [{'maxAge': 1, 'name': 'Mr. Auttapol  Rerkpibo...
compensationAsOfEpochDate                                           1672444800
maxAge                                                                   86400
priceHint                                                                    2
previousClose                                                            35.75
dtype: object

In [11]:
data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-19 00:00:00+07:00,34.00,34.50,34.00,34.25,55437000,0.0,0.0
2024-01-22 00:00:00+07:00,34.25,34.25,33.75,34.00,20909000,0.0,0.0
2024-01-23 00:00:00+07:00,34.25,34.25,33.50,34.00,38875800,0.0,0.0
2024-01-24 00:00:00+07:00,34.00,34.25,33.75,34.25,28836900,0.0,0.0
2024-01-25 00:00:00+07:00,34.25,34.50,34.00,34.25,21760400,0.0,0.0
2024-01-26 00:00:00+07:00,34.25,34.50,34.00,34.00,16987200,0.0,0.0
2024-01-29 00:00:00+07:00,34.50,34.50,34.00,34.50,28776500,0.0,0.0
2024-01-30 00:00:00+07:00,34.25,34.25,34.00,34.00,35241900,0.0,0.0
2024-01-31 00:00:00+07:00,34.00,34.25,33.75,33.75,47266600,0.0,0.0
2024-02-01 00:00:00+07:00,34.00,34.25,33.75,34.25,36959700,0.0,0.0
2024-02-02 00:00:00+07:00,34.25,34.25,34.00,34.00,19403200,0.0,0.0
2024-02-05 00:00:00+07:00,34.00,34.25,33.75,34.00,27945300,0.0,0.0
2024-02-06 00:00:00+07:00,34.25,34.50,34.00,34.25,20578900,0.0,0.0
2024-02-07 00:00:00+07:00,34.25,35.00,34.25,35.00,43166300,0.0,0.0
2024-02-08 00:00:00+07:00,35.00,35.25,34.75,34.75,39944600,0.0,0.0
2024-02-09 00:00:00+07:00,35.00,35.00,34.75,35.00,15907400,0.0,0.0
2024-02-12 00:00:00+07:00,34.75,35.00,34.75,34.75,6057800,0.0,0.0
2024-02-13 00:00:00+07:00,35.00,35.25,34.75,35.00,27500600,0.0,0.0
2024-02-14 00:00:00+07:00,34.75,35.00,34.50,34.75,23687100,0.0,0.0
2024-02-15 00:00:00+07:00,34.75,35.00,34.50,34.75,25626000,0.0,0.0
2024-02-16 00:00:00+07:00,35.25,36.00,35.00,35.75,86147000,0.0,0.0
2024-02-19 00:00:00+07:00,35.75,36.00,35.50,35.75,37320000,0.0,0.0

In [12]:
data.history(period = '3mo')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-20 00:00:00+07:00,34.50,34.75,34.25,34.50,50396700,0.0,0.0
2023-11-21 00:00:00+07:00,34.75,35.00,34.50,34.75,51895800,0.0,0.0
2023-11-22 00:00:00+07:00,34.50,34.75,34.25,34.75,27252800,0.0,0.0
2023-11-23 00:00:00+07:00,34.50,34.75,34.25,34.25,29494000,0.0,0.0
2023-11-24 00:00:00+07:00,34.50,34.50,34.25,34.50,13088300,0.0,0.0
...,...,...,...,...,...,...,...
2024-02-13 00:00:00+07:00,35.00,35.25,34.75,35.00,27500600,0.0,0.0
2024-02-14 00:00:00+07:00,34.75,35.00,34.50,34.75,23687100,0.0,0.0
2024-02-15 00:00:00+07:00,34.75,35.00,34.50,34.75,25626000,0.0,0.0
2024-02-16 00:00:00+07:00,35.25,36.00,35.00,35.75,86147000,0.0,0.0
2024-02-19 00:00:00+07:00,35.75,36.00,35.50,35.75,37320000,0.0,0.0

In [13]:
data.history(period = '3mo', interval = '1wk')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-20 00:00:00+07:00,34.50,35.00,34.25,34.50,172127600,0.0,0.0
2023-11-27 00:00:00+07:00,34.50,35.25,34.25,35.25,270580900,0.0,0.0
2023-12-04 00:00:00+07:00,35.25,36.00,35.00,35.75,228582700,0.0,0.0
2023-12-11 00:00:00+07:00,35.75,36.00,35.50,35.75,200844300,0.0,0.0
2023-12-18 00:00:00+07:00,35.75,35.75,34.75,35.25,206217100,0.0,0.0
2023-12-25 00:00:00+07:00,35.00,36.00,35.00,35.75,163925000,0.0,0.0
2024-01-01 00:00:00+07:00,35.75,35.75,35.00,35.25,134493100,0.0,0.0
2024-01-08 00:00:00+07:00,35.50,35.50,34.25,34.25,194208600,0.0,0.0
2024-01-15 00:00:00+07:00,34.25,34.50,33.00,34.25,300574900,0.0,0.0
2024-01-22 00:00:00+07:00,34.25,34.50,33.50,34.00,127369300,0.0,0.0
2024-01-29 00:00:00+07:00,34.50,34.50,33.75,34.00,167647900,0.0,0.0
2024-02-05 00:00:00+07:00,34.00,35.25,33.75,35.00,147542500,0.0,0.0
2024-02-12 00:00:00+07:00,34.75,36.00,34.50,35.75,169018500,0.0,0.0
2024-02-19 00:00:00+07:00,35.75,36.00,35.50,35.75,73643653,0.0,0.0

In [14]:
data.history(period = '1d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-02-19 00:00:00+07:00,35.75,36.0,35.5,35.75,37320000,0.0,0.0

In [15]:
data.history(period = '5d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-02-13 00:00:00+07:00,35.00,35.25,34.75,35.00,27500600,0.0,0.0
2024-02-14 00:00:00+07:00,34.75,35.00,34.50,34.75,23687100,0.0,0.0
2024-02-15 00:00:00+07:00,34.75,35.00,34.50,34.75,25626000,0.0,0.0
2024-02-16 00:00:00+07:00,35.25,36.00,35.00,35.75,86147000,0.0,0.0
2024-02-19 00:00:00+07:00,35.75,36.00,35.50,35.75,37320000,0.0,0.0