In [1]:
import pandas as pd

In [5]:
data = pd.DataFrame({'col_a': [10, 5, 8, 9, 10], 'col_b': [10, 4, 8, 8, 10], 'col_c': [10, 7, 8, 9, 10]})
data

   col_a  col_b  col_c
0     10     10     10
1      5      4      7
2      8      8      8
3      9      8      9
4     10     10     10

In [6]:
data.drop_duplicates()

   col_a  col_b  col_c
0     10     10     10
1      5      4      7
2      8      8      8
3      9      8      9