### convert a Pandas dataframe to a single row dataframe

In [29]:
import pandas as pd
import numpy as np

In [30]:
# create a numpy array of data

data = np.arange(1, 16).reshape(3, 5)
data

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [31]:
type(data)

numpy.ndarray

In [32]:
# create a dataframe using numpy array of data and assign columns names

df = pd.DataFrame(data = data, columns = ['col_a', 'col_b', 'col_c', 'col_d', 'col_e']) # now we assign columns name
df

   col_a  col_b  col_c  col_d  col_e
0      1      2      3      4      5
1      6      7      8      9     10
2     11     12     13     14     15

In [33]:
# check index

df.index

RangeIndex(start=0, stop=3, step=1)

In [34]:
# reassign index started with 1

df.index = df.index + 1 
df

   col_a  col_b  col_c  col_d  col_e
1      1      2      3      4      5
2      6      7      8      9     10
3     11     12     13     14     15

In [35]:
df.index

RangeIndex(start=1, stop=4, step=1)

In [36]:
# stack data using stack

stacked_df = df.stack()
stacked_df

1  col_a     1
   col_b     2
   col_c     3
   col_d     4
   col_e     5
2  col_a     6
   col_b     7
   col_c     8
   col_d     9
   col_e    10
3  col_a    11
   col_b    12
   col_c    13
   col_d    14
   col_e    15
dtype: int64

In [37]:
stacked_df.index

MultiIndex([(1, 'col_a'),
            (1, 'col_b'),
            (1, 'col_c'),
            (1, 'col_d'),
            (1, 'col_e'),
            (2, 'col_a'),
            (2, 'col_b'),
            (2, 'col_c'),
            (2, 'col_d'),
            (2, 'col_e'),
            (3, 'col_a'),
            (3, 'col_b'),
            (3, 'col_c'),
            (3, 'col_d'),
            (3, 'col_e')],
           )

In [38]:
# assign index names

stacked_df.index = stacked_df.index.map('{0[1]}_{0[0]}'.format)
stacked_df

col_a_1     1
col_b_1     2
col_c_1     3
col_d_1     4
col_e_1     5
col_a_2     6
col_b_2     7
col_c_2     8
col_d_2     9
col_e_2    10
col_a_3    11
col_b_3    12
col_c_3    13
col_d_3    14
col_e_3    15
dtype: int64

In [39]:
stacked_df.to_frame().T

,col_a_1,col_b_1,col_c_1,col_d_1,col_e_1,col_a_2,col_b_2,col_c_2,col_d_2,col_e_2,col_a_3,col_b_3,col_c_3,col_d_3,col_e_3
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15

In [40]:
a_row_df = stacked_df.to_frame().T
a_row_df

,col_a_1,col_b_1,col_c_1,col_d_1,col_e_1,col_a_2,col_b_2,col_c_2,col_d_2,col_e_2,col_a_3,col_b_3,col_c_3,col_d_3,col_e_3
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15

In [41]:
a_row_df.shape

(1, 15)

In [42]:
a_row_df.index

RangeIndex(start=0, stop=1, step=1)